<!DOCTYPE html>
<html lang="en">

<head>
	<title>Gifts Web App</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
	<h1>Your Wishlist</h1>
	<hr>
	{{if .Items}}
	<ul>
		<form>
			{{range .Items}}
			<li>
				{{.Name}}
				<Button type="submit" formmethod="get" formaction="/wishlist/edit_item" name="editID"
					value="{{.Id}}">Edit</Button>
				<Button type="submit" formmethod="post" formaction="/wishlist/delete_item" name="deleteID"
					value="{{.Id}}">Remove</Button>
			</li>
			{{end}}
		</form>
	</ul>
	{{else}}
	No items added yet
	{{end}}
	<br>
	<a href="/wishlist/add_item">Add Item</a>
</body>

</html>
